*{
    padding: 0;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.cabecalho{
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto ;
    align-items: center;
    align-content: space-between;
}
ul{
    
    margin: 0 0 0 120px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul li a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin: 5px;

}
ul li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h1{
    font-family: 'Balsamiq Sans';
    font-style: italic;
    font-weight: 700;
    width: 80%;
    margin: 30px;
    color: rgb(167, 105, 218);
}
#subtitulo{
    font-size: 10px;
    margin: 0 0 0 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 6fr 200px;
    margin: 0 auto 0 30px;
}
@media (max-width:800px){
    
    .grid{
        margin: 0 auto 0 ;
        grid-template-columns: 1fr;
    }
    .anuncios{
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    .anuncio-item{
        width: 120px;
        margin: 0px auto;
        padding: 0;
    }
    .video{
        width: 310px;
        margin: 0 auto;
    }
    .video iframe{
        width: 320px;
        height: 250px;
    }
}
.video{
    text-align: center;
    margin: 0px auto 100px;
}
main{
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}
.conteudo{
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
p{
    margin: 20px auto ;
}
.ehi{
    text-align: center;
    margin: 10px auto;
    display: block;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    padding: 30px;
    text-decoration: none;
    color: black;
}
.ehi:hover{
    background-color: rgba(0,0,0,.5);
    color: white;
}
.anuncios{
    text-align: center;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    
}
.anuncio-item{
    padding: 10px;
    margin: 30px  auto 30px ;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
footer{
    color: white;
    padding: 20px 0 20px 0;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}
